<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.risk.persistence.CheckMapper">

	<select id="getCheckListByCode" parameterType="string" resultType="CheckVO">
		SELECT *
		FROM CHECK_LIST
		WHERE TOOLCODE = #{toolCode} 
	</select>

	<insert id="insertCheckVO" parameterType="CheckVO">
		INSERT INTO CHECK_LIST(TOOLCODE, IMAGE, VIRTNAME,  CHECKLIST)
		VALUES
		(#{toolCode},#{image},#{virtName},#{checklist})
	</insert>
	
	<delete id="deleteCheckVOByCode" parameterType="String">
		DELETE FROM CHECK_LIST WHERE TOOLCODE=#{toolCode}	
	</delete>

	<update id="updateCheckVOByIdx" parameterType="CheckVO">
		UPDATE CHECK_LIST
		SET		
		IMAGE = #{image}
		,VIRTNAME = #{virtName}
		,CHECKLIST = #{checklist}
		WHERE
		CHECK_IDX = #{check_idx}
	</update>

</mapper>