<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.risk.persistence.FileMapper">

	<select id="getFilesByCode" parameterType="string" resultType="FileVO">
		SELECT *
		FROM FILE_LIST
		WHERE CODE = #{code} 
	</select>
	
	<select id="getFileList" parameterType="string" resultType="FileVO">
		SELECT *
		FROM FILE_LIST
	</select>
	
	<select id="getFileVOByIdx" parameterType="string" resultType="FileVO">
		SELECT * 
		FROM FILE_LIST
		WHERE FILE_IDX = #{file_idx}
	</select>
	

	<insert id="insertFileVO" parameterType="FileVO">
		INSERT INTO FILE_LIST(FILE_IDX, CODE, FILENAME, VIRTNAME, FILETYPE )
		VALUES
		(#{file_idx},#{code},#{fileName}, #{virtName}, #{fileType})
	</insert>
	
	<delete id="deleteFileVOByCode" parameterType="String">
		DELETE FROM FILE_LIST WHERE CODE=#{code}	
	</delete>
	<delete id="deleteFileVOByVO" parameterType="String">
		DELETE FROM FILE_LIST WHERE FILE_IDX=#{file_idx}
	</delete>
	
	

</mapper>