<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.risk.persistence.PlaceMapper">


	<select id="getPlaceByCode" parameterType="string" resultType="PlaceVO">
		 SELECT A.*, B.NAME AS PLACENAME
		 FROM PLACE_LIST A LEFT JOIN CODE_LIST B
		 ON A.PLACECODE = B.CODE		
	     WHERE A.PLACECODE = #{placeCode}
	     ORDER BY PLACECODE
	</select>

	<delete id="deletePlaceVOByCode" parameterType="PlaceVO">
		DELETE FROM PLACE_LIST WHERE PLACECODE=#{placeCode}
	</delete>


	<insert id="insertPlaceVO" parameterType="PlaceVO">
		INSERT INTO PLACE_LIST(PLACECODE,MAINRISK,GUIDE,EQUIP, PERMIT)
		VALUES
		(#{placeCode},#{mainRisk},#{guide},#{equip},#{permit})
	</insert>

	<update id="updatePlaceVO" parameterType="PlaceVO">
		UPDATE PLACE_LIST
		SET
		mainrisk=#{mainRisk},
		guide=#{guide},
		equip=#{equip},		
		permit=#{permit}
		WHERE
		placecode=#{placeCode}
	</update>

</mapper>