<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.risk.persistence.ToolMapper">


	<select id="getToolByCode" parameterType="string" resultType="ToolVO">
		SELECT *
		FROM TOOLLIST_VIEW
		WHERE TOOLCODE = #{toolCode}		
	</select>

	<delete id="deleteToolVOByCode" parameterType="String">
		DELETE FROM TOOL_LIST WHERE TOOLCODE=#{toolCode}
	</delete>


	<insert id="insertToolVO" parameterType="ToolVO">
		INSERT INTO TOOL_LIST(TOOLCODE,MAINRISK,GUIDE,EQUIP, IMGNAME, IMGVIRTNAME, IMGTYPE)
		VALUES
		(#{toolCode},#{mainRisk},#{guide},#{equip}, #{imgName}, #{imgVirtName}, #{imgType})
	</insert>

	<update id="updateToolVO" parameterType="ToolVO">
		UPDATE TOOL_LIST
		SET
			mainrisk=#{mainRisk},
			guide=#{guide},
			equip=#{equip},
			imgname = #{imgName}, 
			imgvirtname = #{imgVirtName},
			imgtype =  #{imgType}
		WHERE
			toolcode=#{toolCode}
	</update>

</mapper>