<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart.safety.persistence.ContractorMapper">
	<select id="getContractorListBySiteIdx" resultType="ContractorVO"	parameterType="String">
		SELECT
		*
		FROM CONTRACTOR_LIST
		WHERE 
		DELYN='N'
		AND SITE_IDX = #{site_idx}
		ORDER BY WRITETIME
	</select>
  <select id="getContractorListByVO" resultType="ContractorVO" parameterType="ContractorVO">
	SELECT
		*
	FROM CONTRACTOR_LIST C
	JOIN USER_LIST U
	ON C.USER_IDX = U.USER_IDX
	WHERE
		C.DELYN='N'
		AND U.DELYN='N'
		AND (C.CONT_NAME like #{cont_name}
		OR C.CONT_PHONE like #{cont_phone}
		OR C.REP_NAME like #{rep_name}
		OR U.ID like #{id}
		)
		AND C.SITE_IDX like #{site_idx}
	ORDER BY C.WRITETIME
	LIMIT #{start}, #{size}
  </select>
   <select id="getRowCount" resultType="Integer" parameterType="ContractorVO">
        SELECT COUNT(*) 
		FROM CONTRACTOR_LIST C
		JOIN USER_LIST U
		ON C.USER_IDX = U.USER_IDX
		WHERE 
			C.DELYN='N'
			AND U.DELYN='N'  
			AND (C.CONT_NAME like #{cont_name}
			OR C.CONT_PHONE like #{cont_phone}
			OR C.REP_NAME like #{rep_name}
			OR U.ID like #{id}
			)
			AND C.SITE_IDX like #{site_idx}
  </select>
       
       
  <select id="getContractorByIdx" resultType="ContractorVO" parameterType="String">
   	SELECT
		*
	FROM CONTRACTOR_LIST C
	JOIN USER_LIST U
	ON C.USER_IDX = U.USER_IDX
	WHERE
		C.DELYN='N'
		AND U.DELYN='N'
		AND U.DELYN='N'
		AND C.CONT_IDX = #{idx}
  </select>
  
  <select id="getContractorByID" resultType="ContractorVO" parameterType="String">
   	SELECT
		*
	FROM CONTRACTOR_LIST C
	JOIN USER_LIST U
	ON C.USER_IDX = U.USER_IDX
	WHERE
		C.DELYN='N'
		AND U.DELYN='N'
		AND U.ID = #{id}
  </select>
  
  
 
  <insert id="insert" parameterType="ContractorVO">
    INSERT INTO
	CONTRACTOR_LIST(CONT_IDX, USER_IDX, SITE_IDX,  CONT_NAME, CONT_PHONE, CONT_EMG_PHONE, REP_NAME, REP_PHONE,WRITETIME, DELYN)
	VALUES(	#{cont_idx},	#{user_idx}, #{site_idx},  #{cont_name},#{cont_phone}, #{cont_emg_phone}, #{rep_name},#{rep_phone} , sysdate() , 'N' )
	
  </insert>
  <update id="update" parameterType="ContractorVO">
      UPDATE CONTRACTOR_LIST
		SET CONT_NAME=#{cont_name}, CONT_PHONE=#{cont_phone}, CONT_EMG_PHONE=#{cont_emg_phone}, REP_NAME=#{rep_name}, REP_PHONE=#{rep_phone}
		WHERE CONT_IDX=#{cont_idx}
  </update>
  <update id="delete" parameterType="String">
		UPDATE CONTRACTOR_LIST
		SET DELYN='Y'
		WHERE CONT_IDX = #{idx}
  </update>
</mapper>
