<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">




<mapper namespace="com.smart.safety.persistence.ManagerMapper">

	<select id="getManagerListByVO" resultType="ManagerVO"	parameterType="ManagerVO">
 	    SELECT
			M.*, U.*, S.SITENAME AS SITENAME
		FROM MANAGER_LIST M
		JOIN USER_LIST U
		JOIN SITE_LIST S
		ON M.USER_IDX = U.USER_IDX
		AND M.SITE_IDX = S.SITE_IDX
		WHERE 
			M.DELYN='N'  
			AND U.DELYN='N' 
			AND (
			U.ID like #{id}
			OR M.NAME like #{name}
			OR M.GRADE like #{grade}
			OR M.PHONE like #{phone}
			OR S.SITENAME like #{sitename}
			)AND U.LEVEL like #{level}
			AND M.ISMANAGER = #{ismanager}
			AND M.SITE_IDX like #{site_idx}
		ORDER BY M.WRITETIME
		LIMIT #{start}, #{size}
    </select>
   	<select id="getRowCount" resultType="Integer" parameterType="ManagerVO">
	    SELECT
	    	COUNT(*)
		FROM MANAGER_LIST M
		JOIN USER_LIST U
		JOIN SITE_LIST S
		ON M.USER_IDX = U.USER_IDX
		AND M.SITE_IDX = S.SITE_IDX
		WHERE 
			M.DELYN='N'
			AND U.DELYN='N'  
			AND (
			U.ID like #{id}
			OR M.NAME like #{name}
			OR M.GRADE like #{grade}
			OR M.PHONE like #{phone}
			OR S.SITENAME like #{sitename}
			)AND U.LEVEL like #{level}
			AND M.ISMANAGER = #{ismanager}
			AND M.SITE_IDX like #{site_idx}
    </select>
	
    
    <select id="getManagerByIdx" resultType="ManagerVO"	parameterType="String">
	 	SELECT
			M.*, U.*, S.SITENAME AS SITENAME
		FROM MANAGER_LIST M
		JOIN USER_LIST U
		JOIN SITE_LIST S
		ON M.USER_IDX = U.USER_IDX
		AND M.SITE_IDX = S.SITE_IDX
		WHERE 
		 	M.DELYN='N'  
			AND U.DELYN='N'
			AND M.MANAGER_IDX=#{idx} 
	</select>
	
	<select id="getManagerByID" resultType="ManagerVO"	parameterType="String">
		SELECT
			*
		FROM MANAGER_LIST M
		JOIN USER_LIST U
		ON M.USER_IDX = U.USER_IDX 	 
		WHERE    
			M.DELYN='N'  
			AND U.DELYN='N' 
			AND U.ID = #{id}
		
	</select>
 

	<insert id="insert" parameterType="ManagerVO">
		INSERT INTO
		MANAGER_LIST(MANAGER_IDX, USER_IDX, SITE_IDX, ISMANAGER, GRADE, NAME, BIRTH, PHONE, POSITION, WRITETIME, DELYN)
		SELECT
			GROUP_CONCAT('M',(SELECT COUNT(*) FROM MANAGER_LIST), SYSDATE()) AS	MANAGER_IDX,
			(SELECT USER_IDX FROM USER_LIST WHERE ID=#{id}) AS	USER_IDX,
			#{site_idx}, #{ismanager}, #{grade}, #{name}, #{birth}, #{phone} , #{position}, sysdate() , 'N'
		FROM DUAL
	</insert>
	
 	<update id="update" parameterType="ManagerVO">
 	    UPDATE MANAGER_LIST
		SET SITE_IDX=#{site_idx}, ISMANAGER = #{ismanager},  GRADE=#{grade}, NAME=#{name}, BIRTH=#{birth}, PHONE=#{phone}, POSITION=#{position}
		WHERE MANAGER_IDX=#{manager_idx}
    </update>
	
   	<update id="delete" parameterType="String">
		UPDATE MANAGER_LIST
		SET DELYN='Y'
		WHERE MANAGER_IDX = #{idx}
	</update>
   
</mapper>
