<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart.safety.persistence.MobileMapper">
	  
	  <select id="getMobileLogin" resultType="UserVO"  parameterType="UserVO" >
	    select a.USER_IDX, a.ID, a.PASSWORD, a.LEVEL,a.WRITETIME, a.DELYN, a.PID, a.IPHONEYN from user_list a
		where id=#{id} AND password=#{password} AND a.DELYN='N'
	  </select>
	  
	  <select id="getMobileContractorInfo" resultType="UserVO"  parameterType="String" >
		SELECT a.site_idx, a.sitename FROM safety.site_list a 
		join safety.contractor_list b
		on a.site_idx = b.SITE_IDX
  		where b.USER_IDX = #{id}
	  </select>
	  
	  <select id="getMobileManagerInfo" resultType="UserVO"  parameterType="String" >
		SELECT a.site_idx, a.sitename FROM safety.site_list a 
		join safety.manager_list b
		on a.site_idx = b.SITE_IDX
  		where b.USER_IDX =#{id}
	  </select>
	  

      <update id="updateRegId" parameterType="UserVO">
         UPDATE USER_LIST
         SET PID=#{pid}, IPHONEYN = #{iphoneYn}
         WHERE USER_IDX=#{user_idx}
     </update>

	 <select id="getMobileWorkList" resultType="MobileVO"  >
		SELECT DISTINCT W.RISK_GRADE, W.WORK_IDX, W.WORKLEVEL,
		W.PIC_NAME, W.WORKTITLE, 
		DATE_FORMAT( W.STARTDATE , '%Y%m%d' ) STARTDATE 
		,DATE_FORMAT( W.ENDDATE , '%Y%m%d' ) ENDDATE  
		, IFNULL( P.CHECKYN, 'N' ) CHECKYN
		FROM WORK_LIST W 
		LEFT OUTER JOIN ( SELECT WORK_IDX, WORKDATE, CHECKYN, CHK_USER_IDX FROM PRINT_LIST WHERE WORKDATE = #{searchdate} ) P
		ON
			W.WORK_IDX = P.WORK_IDX 
		WHERE
		W.SITE_IDX = #{siteidx}
		AND ( W.RISK_GRADE = 'A' OR W.RISK_GRADE = 'B' )
		<![CDATA[
		AND DATE_FORMAT( W.STARTDATE , '%Y%m%d' ) <= #{searchdate}
		]]>
		
		<![CDATA[
		AND DATE_FORMAT( W.ENDDATE , '%Y%m%d' )  >= #{searchdate}
		]]>
	</select>
	
	<select id="getMobileChifWorkList" resultType="MobileVO"  >
		SELECT DISTINCT W.RISK_GRADE, W.WORK_IDX, W.WORKLEVEL,
		W.PIC_NAME, W.WORKTITLE, 
		DATE_FORMAT( W.STARTDATE , '%Y%m%d' ) STARTDATE 
		,DATE_FORMAT( W.ENDDATE , '%Y%m%d' ) ENDDATE  
		, IFNULL( P.CHIFCHKYN, 'N' ) CHECKYN
		FROM WORK_LIST W 
		LEFT OUTER JOIN ( SELECT WORK_IDX, WORKDATE, CHIFCHKYN, CHK_USER_IDX FROM PRINT_LIST WHERE WORKDATE = #{searchdate} ) P
		ON
			W.WORK_IDX = P.WORK_IDX 
		WHERE
		W.SITE_IDX = #{siteidx}
		AND W.RISK_GRADE = 'A'
		<![CDATA[
		AND DATE_FORMAT( W.STARTDATE , '%Y%m%d' ) <= #{searchdate}
		]]>
		
		<![CDATA[
		AND DATE_FORMAT( W.ENDDATE , '%Y%m%d' )  >= #{searchdate}
		]]>
	</select>
	
	<select id="getMobileLeadWorkList" resultType="MobileVO"  >
		SELECT DISTINCT W.RISK_GRADE, W.WORK_IDX, W.WORKLEVEL,
		W.PIC_NAME, W.WORKTITLE, 
		DATE_FORMAT( W.STARTDATE , '%Y%m%d' ) STARTDATE 
		,DATE_FORMAT( W.ENDDATE , '%Y%m%d' ) ENDDATE  
		, IFNULL( P.LEADCHKYN, 'N' ) CHECKYN
		FROM WORK_LIST W 
		LEFT OUTER JOIN ( SELECT WORK_IDX, WORKDATE, LEADCHKYN, CHK_USER_IDX FROM PRINT_LIST WHERE WORKDATE = #{searchdate} ) P
		ON
			W.WORK_IDX = P.WORK_IDX 
		WHERE
		W.SITE_IDX = #{siteidx}
		
		<![CDATA[
		AND DATE_FORMAT( W.STARTDATE , '%Y%m%d' ) <= #{searchdate}
		]]>
		
		<![CDATA[
		AND DATE_FORMAT( W.ENDDATE , '%Y%m%d' )  >= #{searchdate}
		]]>
	</select>
 
    <update id="updateCheckYn" parameterType="MobileVO">
		UPDATE PRINT_LIST
		SET CHECKYN = #{checkyn} , CHK_USER_IDX = #{user_idx}
		WHERE WORK_IDX = #{work_idx}
		  AND WORKDATE = #{workdate}
    </update>
    
    <update id="updateChifCheckYn" parameterType="MobileVO">
		UPDATE PRINT_LIST
		SET CHIFCHKYN = #{checkyn} , CHIF_CHK_USER_IDX = #{user_idx}
		WHERE WORK_IDX = #{work_idx}
		  AND WORKDATE = #{workdate}
    </update>
    
    
    <update id="updateLeadCheckYn" parameterType="MobileVO">
		UPDATE PRINT_LIST
		SET LEADCHKYN = #{checkyn} , LEAD_CHK_USER_IDX = #{user_idx}
		WHERE WORK_IDX = #{work_idx}
		  AND WORKDATE = #{workdate}
    </update>

	  <select id="getWorkInfomation" resultType="MobileVO"  parameterType="String" >
		SELECT 
			WORK_IDX,
			WORKTYPE,
			PLACENAMES,
			PTW_EXIST,
			PUI_EXIST,
			PIC_NUM_WORKER,
			PIC_NAME
		FROM WORK_LIST
  		WHERE WORK_IDX = #{id}
	  </select>

	  <select id="getWorkToolInfomation" resultType="MobileVO"  parameterType="String" >
		SELECT WORK_IDX, TOOLNAME
		FROM SAFETY.TOOL_LIST
  		WHERE WORK_IDX = #{id}
	  </select>
	  
	  <select id="getMobileNoticeList" resultType="MobileVO"  parameterType="String" >
		SELECT B.NAME, A.NOTICE_IDX, A.SITE_IDX, A.TITLE, A.CONTENT, A.WRITETIME
		FROM NOTICE_LIST A
		JOIN MANAGER_LIST B
		ON A.WRITER_IDX = B.USER_IDX
		WHERE A.DELYN = 'N'
  		  AND A.SITE_IDX = #{id}
	  </select>
 
	  
	  <select id="getMobileNoticeInfo" resultType="MobileVO"  parameterType="String" >
		SELECT B.NAME, A.NOTICE_IDX, A.SITE_IDX, A.TITLE, A.CONTENT, A.WRITETIME
		FROM NOTICE_LIST A
		JOIN MANAGER_LIST B
		ON A.WRITER_IDX = B.USER_IDX
		WHERE A.DELYN = 'N'
  		  AND A.NOTICE_IDX = #{id}
	  </select>
	  
	  <select id="getSiteUserPid" resultType="MobileVO"  parameterType="String" >
		SELECT A.PID, A.LEVEL FROM USER_LIST A
		JOIN MANAGER_LIST B
		ON A.USER_IDX = B.USER_IDX
		WHERE A.DELYN = 'N'
		  AND A.LEVEL = '5'
		  OR A.LEVEL = '2'
		  OR A.LEVEL = '4'
  		  AND B.SITE_IDX = #{id}
	  </select> 
    
</mapper>

