<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.smart.safety.persistence.PrintMapper">
  
    <select id="getPrintVO" resultType="PrintVO" parameterType="PrintVO">
   	SELECT *
	FROM PRINT_LIST
	WHERE 
		WORK_IDX = #{work_idx}
		AND WORKDATE = #{workdate}
  </select>
       
  <insert id="insert" parameterType="PrintVO">
   INSERT INTO PRINT_LIST(WORK_IDX, WORKDATE)
	VALUES(#{work_idx}, #{workdate})
  </insert>
 
   <insert id="update" parameterType="PrintVO">
   UPDATE 
     	PRINT_LIST
     SET
		CHK_USER_IDX = #{chk_user_idx}
		,CHECKYN = #{checkyn}
		,PTW = #{ptw}
		,PUI = #{pui}
		,TBM = #{tbm}
		
	WHERE
		WORK_IDX = #{work_idx}
		AND WORKDATE = #{workdate}
  </insert>
  
  
  <update id="deleteByWorkIdx" parameterType="String">
		DELETE FROM PRINT_LIST
		WHERE WORK_IDX = #{work_idx}
		
  </update>
</mapper>

