<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart.safety.persistence.TBMMapper">
	<select id="getTBMByWorkIdx" resultType="TBMVO" parameterType="String">
		select * from TBM_LIST WHERE DELYN='N' AND WORK_IDX = #{work_idx}
	</select>
	<select id="getTBMByTBMIdx" resultType="TBMVO" parameterType="String">
		select * from TBM_LIST WHERE DELYN='N' AND TBM_IDX = #{tbm_idx}
	</select>


	<insert id="insert" parameterType="TBMVO">
		INSERT INTO 
		TBM_LIST (TBM_IDX, WORK_IDX, SITENAME, PRINTTIME, CONT_NAME, CONT_REP_NAME,  CONT_PHONE, CONT_REP_PHONE, CONT_EMG_PHONE,
		WORKTITLE, INSPECTOR, INSPECTOR_PHONE, PIC_NAME, PIC_PHONE, PIC_NUM_WORKER, STARTDATE, STARTTIME, ENDDATE, ENDTIME,
		TOOLLIST, MAINRISK, WEATHER,  WORKNAME, PLACENAME, RISK_GRADE, RISK_WARN, WORKPERMIT, MEASURE, EQUIP, GUIDE, 
		REMARK, SITE_REP_NAME, SITE_REP_PHONE, WRITETIME, DELYN)
		SELECT
		#{tbm_idx}, 	#{work_idx},	#{sitename},	#{printtime},	#{cont_name},	#{cont_rep_name},#{cont_phone},
		#{cont_rep_phone}, #{cont_emg_phone},	#{worktitle},#{inspector}, #{inspector_phone},	#{pic_name},	#{pic_phone},	#{pic_num_worker},	#{startdate},
		#{starttime},	#{enddate},	#{endtime},	#{toollist},	#{mainrisk},	#{weather}, #{workname},	
		#{placename},	#{risk_grade},	#{risk_warn},	#{workpermit},	#{measure},	#{equip},	#{guide},	#{remark},		
		#{site_rep_name}, #{site_rep_phone},
		SYSDATE(),
		'N'
		FROM DUAL
	</insert>
	
	<update id="deleteByTBMIdx" parameterType="String">
		DELETE FROM TOOl_LIST
		WHERE TBM_IDX = #{tbm_idx}
	</update>




</mapper>

