.ptw_table {
	line-height:30px;
}
.listTR {
	cursor:pointer;
	
}

.listTR:hover{
 	background-color:#8CB4E0;
	/*border: 2px solid #ffffff;*/
	color:#162133 !important;
	
	
}

.closeLink {
	display:block;
	text-align:right;
	margin-bottom:10px;
}
.bgCover {
	background: #000;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	overflow: hidden
}

.overlayBox {
	background-color:#1d2b43;
	border: 5px solid #09F;
	position: absolute;
	display: none;
	padding: 10px;
}

.overlayContent {
	max-height: 400px;
	overflow-y: auto;
	text-align:center;
}

.formError {
	color: red;
	font-size: 22px;
}

.duplCheckOk {
	color: green;
	font-size: 25px;
}

.remark {
	text-align:left;
	padding-left:20px;
	font-size:25px;
	
}

/* 
a.signupBtn {
	display:block;
	height:40px;
	margin-top:7px;
	background: url('../images/btn_signup.png') no-repeat center; 
}


a:hover.signupBtn {		
	background: url('../images/btn_signup_over.png') no-repeat center; 
}
 
a.infoBtn {
	display:block;
	height:33px;
	width:90px;
	background: url('../images/btn_info.png') no-repeat center; 
}


a:hover.infoBtn {
	background: url('../images/btn_info_over.png') no-repeat center; 
}
*/
.selectBox {
	padding: 5px;
	background-color: #1d2b43;
	color: #fff;
	font-size: 30px;
	line-height: 36px;
	border: 1px solid #1D4F99;
	text-align: center;
	
}

.selectBox option {
	margin-bottom: 5px;
	text-align: center;
}

.siteSelectBox {
	width: 70%;
	padding: 5px;
	background-color: #1d2b43;
	color: #fff;
	font-size: 30px;
	line-height: 36px;
	border: 2px solid #1D4F99;
	text-align: center;
}

.siteSelectBox option {
	margin-bottom: 5px;
	text-align: center;
}

.chargeWorkTR {
	border: 2px solid red;
}

.categoryInput {
	border:2px solid #1D4F99;
}

#birthInput{
	cursor:pointer;
	
	background: url('../images/cal_icon.png') no-repeat right;
	background-size : 23px 23px;
	
}

#startDateInput {
	cursor:pointer;
	
	background: url('../images/cal_icon.png') no-repeat right;
	background-size : 23px 23px;
}
 
 #endDateInput {
	cursor:pointer;
	
	background: url('../images/cal_icon.png') no-repeat right;
	background-size : 23px 23px;
}

#starttimeInput {
	cursor:pointer;
	
	background: url('../images/clock_icon.png') no-repeat right;
	background-size : 23px 23px;
}
 
 #endtimeInput {
	cursor:pointer;
	height:30px;
	background: url('../images/clock_icon.png') no-repeat right;
	background-size : 23px 23px;
	
}

.handWrite {
	height:30px;
	background: url('../images/write_icon.png') no-repeat right;
	background-size : 23px 23px;
	background-color:#475B7C;
	background-position-x: 15px;
	text-indent: 20px;
}

.deleteButton {
	width:30px !important;
	cursor:pointer !important;
	border:0px !important;
	float:right;
	margin-right:20px;
}

