<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>  
        <setting name="cacheEnabled"              value="true"/>  
        <setting name="lazyLoadingEnabled"        value="false"/>  
        <setting name="multipleResultSetsEnabled" value="true"/>  
        <setting name="useColumnLabel"            value="true"/>  
        <setting name="useGeneratedKeys"          value="false"/>  
        <setting name="defaultExecutorType"      value="SIMPLE"/>  
        <setting name="defaultStatementTimeout"  value="25000"/>  
    </settings>
    
    
 	<typeAliases>
 	    <typeAlias type="com.smart.safety.domain.ContractorVO" alias="ContractorVO"/>
       <typeAlias type="com.smart.safety.domain.ManagerVO" alias="ManagerVO"/>
       <typeAlias type="com.smart.safety.domain.UserVO" alias="UserVO"/>
       <typeAlias type="com.smart.safety.domain.SiteVO" alias="SiteVO"/>
       <typeAlias type="com.smart.safety.domain.WorkVO" alias="WorkVO"/>
       <typeAlias type="com.smart.safety.domain.ToolVO" alias="ToolVO"/>
       <typeAlias type="com.smart.safety.domain.TBMVO" alias="TBMVO"/>
       <typeAlias type="com.smart.safety.domain.PUIVO" alias="PUIVO"/>
       <typeAlias type="com.smart.safety.domain.PTWVO" alias="PTWVO"/>
       <typeAlias type="com.smart.safety.domain.PrintVO" alias="PrintVO"/>
       <typeAlias type="com.smart.safety.domain.MobileVO" alias="MobileVO"/>
    </typeAliases>
    
 	
    <typeHandlers>
        <!--  java.sql.Timestamp 를 java.util.Date 형으로 반환 -->
        <typeHandler javaType="java.sql.Timestamp" handler="org.apache.ibatis.type.DateTypeHandler"/>
        <typeHandler javaType="java.sql.Time"      handler="org.apache.ibatis.type.DateTypeHandler"/>
        <typeHandler javaType="java.sql.Date"      handler="org.apache.ibatis.type.DateTypeHandler"/>
    </typeHandlers>
    
    
   

</configuration>